@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import "./sass/helperStyle.scss";
@import "./sass/utiliti.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}
button {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
}
.center {
  text-align: center;
}
